body {margin: 0; font-family: sans-serif;}
main {
	padding: 0 15px;
}


/* photo layout editor */
.ple-side__wrap {position: fixed;}
.ple-editor {min-height: 0;}


/* header */
.header {
	padding: 20px 0 30px;
}
.header h1 {
	margin: 0;
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 28px;
	color: #20b292;
}
.header p {
	margin: 10px 0 0;
	font-size: 13px;
	color: #444;
	font-family: sans-serif;
}


/* control */
.control {
	margin: 30px 0;
	padding: 15px;
	background: #f1f1f1;
}
.control__title {
	margin: 0 0 6px;
	font-size: 18px;
}
.control__description {
	margin: 0 0 12px;
	font-size: 13px;
	color: #444;
}
.control__fields {
	font-size: 0;
}
.control__field {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	font-size: 0;
}
.control__field:first-child {
	margin-left: 0;
}
.control__field label {
	display: inline-block;
}
.control__field label > * {
	display: inline-block;
	vertical-align: middle;
}
.control__field label input[type=number] {
	margin-left: 10px;
	padding: 10px 6px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #ddd;
	background: #fff;
}
.control .button {
	margin: 0;
	padding: 10px 15px;
	border-radius: 0;
	border: none;
	background: #fff;
	font-size: 13px;
	font-weight: 600;
	color: #222;
	cursor: pointer;
}
.control .submit {
	background: #20b292;
	color: #fff;
}
.control hr {
	margin: 20px 0;
	border: none;
	height: 1px;
	background: #ccc;
}


/* result */
.result {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
}
.result-open {
	display: flex;
}
.result__wrap {

}
.result__title {
	margin: 0 0 5px;
	font-size: 20px;
	color: #222;
}
.result__image {
	margin: 0;
	padding: 30px;
	background: #fff url('./vendor/bg-space.png') 0 0 repeat;
}
.result__image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.result__close {
	position: absolute;
	display: block;
	right: 15px;
	top: 15px;
	margin: 0;
	padding: 5px;
	background: #fff;
	border: none;
	overflow: hidden;
	cursor: pointer;
}
.result__close span {
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	transform: rotateZ(45deg);
}
.result__close span:before,
.result__close span:after {
	content: '';
	display: block;
	position: absolute;
	background: #222;
}
.result__close span:before {
	left: 50%;
	top: 0;
	width: 2px;
	height: 100%;
	margin-left: -1px;
}
.result__close span:after {
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	margin-top: -1px;
}
