*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0; padding: 0;
	font-size: 14px; color: #333; line-height: 1.428;
}

body, input, select, textarea {
	font-family: 'Apple SD Gothic Neo', 'Noto Sans', 'MalgunGothic', 'Helvetica Neue', sans-serif;
}
main {
	display: block;
}


/* Header */
.demo-header {}
.demo-header h1 {
	margin: -5px 0 0;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 36px; color: #222;
}
.demo-header p {
	margin: 3px 0 0;
	font-size: 13px; color: #555;
}


/* Controls buttons */
.demo-controls {margin: 30px 0; text-align: left;}
.demo-controls p {margin: 2px 0; font-size: 0;}
.demo-controls button {
	margin: 0 1px; padding: 10px 15px;
	border: none; background: #626164;
	font-size: 0; cursor: pointer;
}
.demo-controls button > * {vertical-align: middle;}
.demo-controls button i {margin-right: 3px;}
.demo-controls button span {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 15px; color: #fff;
}
