@import "lib";

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0; padding: 0;
	//min-width: 768px;
	font-size: 14px; color: #333; line-height: 1.428;
}
body, input, select, textarea {
	font-family: 'Apple SD Gothic Neo', 'Noto Sans', 'MalgunGothic', 'Helvetica Neue', sans-serif;
}


/* popup mode */
html.ple-popup-mode {overflow: hidden;}


/* Attributes */
.blind {
	position: absolute !important; overflow: hidden !important; visibility: hidden !important;
	width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important;
}


.ple-editor {
	padding: 30px 0 30px 30px;
	.ple-container, .ple-header {
		margin-right: 30px;
		-webkit-transition: margin-right $sidebar-toggle-speed ease-in-out;
		transition: margin-right $sidebar-toggle-speed ease-in-out;
	}
	&.on-sidebar {
		.ple-container, .ple-header {margin-right: $sidebar-width + 30px;}
		.ple-sidebar {
			-webkit-transform: translateX(0 - $sidebar-width);
			transform: translateX(0 - $sidebar-width);
		}
	}
}


/* Header */
.ple-header {
	h1 {
		margin: -5px 0 0;
		font-family: $font-eng; font-size: 36px; color: #222;
	}
	p {
		margin: 3px 0 0;
		font-size: 13px; color: #555;
	}
}


/* Container */
.ple-container {
	margin: 30px 0 0;
	.nav-top-wrap {
		position: relative; height: 43px;
		&:after {content: ''; display: block; clear: both;}
	}
	.nav-top {
		position: absolute; z-index: 1000;
		top: 0; width: 100%; height: 43px;
		background: #fff;
		&.fix {position: fixed; top: 0;}
		.block {
			float: left; margin-right: 1px;
			display: none;
			> button {
				display: block; position: relative;
				margin: 0; padding: 0; width: 42px; height: 42px;
				border: none; background: $col-blur; cursor: pointer;
				i {position: absolute; display: block; left: 50%; top: 50%;}
			}
			&.is-show {display: block;}
			&.color-bg-key {
				> button {background: $col-active;}
				&.show {display: block;}
			}
			&.is-active {
				> button {background: $col-key;}
				.form {display: block;}
			}
		}
		.form {position: relative; display: none;}
		.edit-setting {
			form {
				position: absolute; left: -5px; top: 0; z-index: 99999; min-width: 270px;
				background: #fff; box-shadow: 1px 1px 8px rgba(0,0,0,.4);
				fieldset {margin: 0; padding: 20px; border: none;}
			}
			h1 {
				margin: 0 0 10px;
				font-size: 18px; color: $col-key;
			}
			dl {
				display: table; width: 100%; margin: 1px 0;
				> * {
					display: table-cell; vertical-align: middle;
					padding: 3px 0;
				}
				dt {
					width: 95px;
					font-size: 12px; color: #333;
					label {display: inline;}
				}
				dd {
					margin: 0 0 0 100px;
					input[type=number] {
						margin: 0; padding: 6px 6px;
						font-size: 12px; color: #111;
						border: 1px solid #c4c7c8; border-radius: 2px;
						box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
					}
					span {
						padding-left: 5px;
						font-size: 12px; color: #333;
					}
				}
			}
			nav {
				&:after {content: ''; display: block; clear: both;}
				span {
					display: block; width: 50%; float: left;
					&:first-child {padding-right: 1px;}
				}
				button {
					margin: 0; padding: 12px 0; width: 100%;
					font-size: 12px; color: #fff;
					background: $col-blur; border: none; cursor: pointer;
					-webkit-appearance: none;
					&.submit {background: $col-key;}
				}
			}
		}
		.edit-color {
			padding: 0;
			background: #fff; box-shadow: 1px 1px 8px rgba(0,0,0,.4);
			form {margin: 0;}
			fieldset {margin: 0; padding: 20px; border: none;}
			.preview {
				position: relative; margin: 5px 0 0 0;
				input {
					display: block; width: 175px; margin: 0; padding: 5px 50px 5px 5px;
					font-size: 13px; color: #222;
					border: 1px solid #aaa;
					outline: 0;
				}
				span {
					position: absolute; display: block;
					right: 0; top: 0; bottom: 0;
					width: 50px; height: 100%;
				}
			}
			nav {
				button {
					width: 100%; display: block; margin: 0; padding: 12px 5px;
					font-size: 12px; color: #fff;
					background: $col-key; border: none; cursor: pointer;
					-webkit-appearance: none;
				}
			}
		}
	}
	.gridster-wrap {
		padding: 50px 30px;
		@extend %transparent-background;
	}
	.gridster {
		margin: 0 auto;
		background: #fff;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
		ul {padding:0; list-style: none;}
		li {
			background: #ddd; cursor: pointer; overflow: hidden;
			&.selected {
				&:after {
					content: ''; position: absolute; z-index: 2;
					left: 0; right: 0; top: 0; bottom: 0;
					border: 4px solid $col-active;
				}
			}
			&.hover {
				&:after {
					content: ''; position: absolute; z-index: 2;
					left: 0; right: 0; top: 0; bottom: 0;
					background: rgba(32,178,146,.3);
				}
			}
			.gs-resize-handle {}
			figure {
				margin: 0;
				width: 100%; height: 100%;
				background-repeat: no-repeat;
				pointer-events: none;
			}
		}
	}
	.nav-bottom {
		margin: 30px 0; text-align: left;
		p {margin: 2px 0;}
		button {
			margin: 0 1px; padding: 10px 15px;
			border: none; background: $col-key;
			font-size: 0; cursor: pointer;
			> * {vertical-align: middle;}
			i {margin-right: 3px;}
			span {
				font-family: $font-eng;
				font-size: 15px; color: #fff;
			}
		}
	}
}


/* Sidebar */
.ple-sidebar {
	position: fixed; z-index: 9999;
	right: 0 - $sidebar-width; top: 0; bottom: 0; width: $sidebar-width;
	padding: 0;
	background: $col-key;
	-webkit-transition: -webkit-transform $sidebar-toggle-speed ease-in-out;
	transition: transform $sidebar-toggle-speed ease-in-out;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	&.loading {}
	.toggle {
		position: absolute; left: -25px; top: 20px; z-index: 10;
		padding: 10px 5px; margin: 0;
		border: none; cursor: pointer;
		background: transparent;
		span {
			display: block;
			width: 20px; height: 70px;
			background: #4e4e4e;
			border-top-left-radius: 3px; border-bottom-left-radius: 3px;
			box-shadow: inset -1px 0 6px rgba(0,0,0,.4);
		}
		i {display: block; position: absolute; left: 50%; top: 50%;}
		.ple-editor.on-sidebar & {
			i {
				width: 7px; height: 12px; background-position: -112px 0;
				&.abs {margin-left: -4px; margin-top: -6px;}
			}
		}
	}
	.nav-top {
		position: absolute; z-index: 2; left: 0; right: 0; top: 0;
		background: $col-key;
		.wrap {
			margin: 30px 15px 10px;
			border-radius: 3px;
			background: #444;
			&:after {content: ''; display: block; clear: both;}
		}
		button, span {
			margin: 0; padding: 0;
			position: relative; float: left; width: 25%; height: 36px;
			border-width: 0 0 0 1px; border-style: solid;
			border-color: #626164; border-color: rgba(255,255,255,.3);
			background: none; cursor: pointer; overflow: hidden;
			&:first-child {border-width: 0;}
		}
		input[type=file] {
			position: absolute; left: 0; top: 0; z-index: 3;
			width: 100%; height: 100%;
			opacity: 0; outline: none;
			white-space: nowrap; cursor: pointer;
			-webkit-user-select: none;
			&::-webkit-file-upload-button {
				visibility: hidden;
			}
		}
		i {
			display: block; position: absolute;
			left: 50%; top: 50%;
		}
	}
	.upload-files {
		height: 100%; margin: 0; padding: 75px 0 0;
		.wrap {
			height: 100%; padding: 0 15px;
			overflow-x: hidden; overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			background: $col-key;
		}
		ul {
			margin: 0 -5px; padding: 0; list-style: none;
			&:after {content: ''; display: block; clear: both;}
		}
		li {
			float: left; width: 33.33333%; padding: 5px;
			span {
				position: relative; display: block;
				width:100%; height: 63px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-color: #fff;
				text-indent: -9999px;
				cursor: pointer;
				&.on {
					&:after {
						content: ''; position: absolute;
						left: 0; right: 0; top: 0; bottom: 0;
						border: 3px solid $col-active;

					}
				}
			}
		}
	}
}


/* Cropper */
.ple-cropper {
	display: none;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 99999;
	&.show {display: block;}
	> .bg {
		display: block; position: fixed;
		top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
		background: #000; background: rgba(0,0,0,.86);
	}
	> .wrap {
		position: absolute; z-index: 3;
		background: #aaa;
	}
	.figure {
		position: relative; margin: 0;
		width: 100%; height: 100%;
		.img-bg {
			width: 100%; height: 100%;
			background-repeat: no-repeat;
		}
		.img-wrap {
			position: relative;
			display: block;
			width: 100%; height: 100%;
			overflow: hidden;
			img {
				position: absolute; display: block;
				//&.animate {
				//	-webkit-transition: left .3s ease-out, top .3s ease-out;
				//	-moz-transition: left .3s ease-out, top .3s ease-out;
				//	transition: left .3s ease-out, top .3s ease-out;
				//}
			}
		}
		.area {
			position: absolute; display: none;
			//left: 0; top: 0; width: 50px; height: 50px;
			cursor: move;
			&:before, &:after {content: ''; position: absolute;}
			&:before {left: 0; right: 0; top: 0; bottom: 0; border: 1px dashed #000;}
			&:after {left: 1px; top: 1px; right: -1px; bottom: -1px; border: 1px dashed #fff;}
			&.show {display: block;}
			//&.animate {
			//	-webkit-transition: left .3s ease-out, top .3s ease-out;
			//	-moz-transition: left .3s ease-out, top .3s ease-out;
			//	transition: left .3s ease-out, top .3s ease-out;
			//}
			.resize {
				position: absolute; right: -6px; bottom: -6px; z-index: 2;
				margin: 0; padding: 0; display: block;
				width: 24px; height: 24px;
				text-indent: -9999px; overflow: hidden;
				border: none; outline: 0; background: none;
				cursor: nwse-resize;
				&:before, &:after {
					content: ''; display: block; position: absolute;
					right: 2px; bottom: 2px;
					background: #fff;
				}
				&:before {width: 16px; height: 4px;}
				&:after {width: 4px; height: 16px;}
			}
		}
	}
	nav {
		position: absolute; z-index: 3;
		right: -50px; top: 0;
		button {
			position: relative; display: block; margin: 0 0 1px;
			width: 40px; height: 40px;
			background: #888;
			text-align: center;
			text-indent: -9999px; border: none; cursor: pointer; outline: 0;
			&.active {background: $col-active;}
			i {
				position: absolute; display: block;
				left: 50%; top: 50%;
			}
		}
	}
}


/* Result */
.ple-result {
	display: none;
	position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99999;
	overflow: auto; background: #fff;
	&.show {display: block;}
	header {
		margin: 0 0 15px;
		h1 {
			margin: 0;
			font-family: $font-eng; font-size: 30px; color: #222;
		}
		p {
			margin: 5px 0;
			font-size: 13px;
		}
	}
	.wrap {
		position: relative; z-index: 2;
		max-width: 1000px; padding: 15px 30px 30px; margin: 0 auto;
		textarea {
			display: none; width: 100%; height: 78vh; padding: 20px;
			font-size: 12px; color: #222;
			font-family: 'Monaco', 'Tahoma', sans-serif;
			border: 1px solid #ccc;
			&.show {display: block;}
		}
		figure {
			display: none; margin: 0; padding: 30px;
			@extend %transparent-background;
			&.show {display: block;}
			img {display: block; max-width: 100%; margin: 0 auto;}
		}
	}
	.close {
		position: absolute; right: 30px; top: 15px; z-index: 2;
		margin: 0; padding: 5px;
		border: none; background: none; cursor: pointer;
		overflow: hidden;
		i {
			@extend %icon-close;
			width: 32px; height: 32px;
		}
	}
}

.ple-image-maker {
	border: 1px solid #000;}

// fix gridster
.gridster .dragging,
.gridster .resizing {
	z-index: 10 !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: all 0s !important;
	transition: none !important;
}