// init icon
%sp-ico {
	background: transparent url('../img/sp-ico@1x.png') no-repeat;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.33dppx) {
		background-image: url('../img/sp-ico@2x.png');
		background-size: 200px 100px;
	}
}
.sp-ico {
	display: inline-block; text-align: left; text-indent: -9999px; overflow: hidden;
	@extend %sp-ico;
}


// set icon classes
.ico-reply {
	width: 16px; height: 13px; background-position: 0 0;
	&.abs {margin-left: -8px; margin-top: -6px;}
}
.ico-select {
	width: 16px; height: 16px; background-position: -26px 0;
	&.abs {margin-left: -8px; margin-top: -8px;}
}
.ico-upload {
	width: 12px; height: 15px; background-position: -52px 0;
	&.abs {margin-left: -6px; margin-top: -8px;}
}
.ico-trash {
	width: 12px; height: 16px; background-position: -74px 0;
	&.abs {margin-left: -6px; margin-top: -8px;}
}
.ico-arrow-left {
	width: 7px; height: 12px; background-position: -96px 0;
	&.abs {margin-left: -4px; margin-top: -6px;}
}
.ico-arrow-right {
	width: 7px; height: 12px; background-position: -112px 0;
	&.abs {margin-left: -4px; margin-top: -6px;}
}
.ico-empty {
	width: 16px; height: 16px; background-position: -130px 0;
	&.abs {margin-left: -8px; margin-top: -8px;}
}

.ico-setting {
	width: 16px; height: 16px; background-position: 0 -36px;
	&.abs {margin-left: -8px; margin-top: -8px;}
}
.ico-arrow-random {
	width: 16px; height: 16px; background-position: -26px -36px;
	&.abs {margin-left: -8px; margin-top: -8px;}
}
.ico-plus {
	width: 16px; height: 16px; background-position: -52px -36px;
	&.abs {margin-left: -8px; margin-top: -8px;}
}
.ico-pencel {
	width: 16px; height: 16px; background-position: -78px -36px;
	&.abs {margin-left: -8px; margin-top: -8px;}
}
.ico-duplicate {
	width: 14px; height: 16px; background-position: -104px -36px;
	&.abs {margin-left: -7px; margin-top: -8px;}
}
.ico-close {
	width: 14px; height: 14px; background-position: -128px -36px;
	&.abs {margin-left: -7px; margin-top: -7px;}
}
.ico-resize {
	width: 14px; height: 14px; background-position: -152px -36px;
	&.abs {margin-left: -7px; margin-top: -7px;}
}
.ico-reduction {
	width: 16px; height: 16px; background-position: -176px -36px;
	&.abs {margin-left: -8px; margin-top: -8px;}
}
